{% extends 'allianceauth/base.html' %}
{% load i18n %}
{% block page_title %}{% trans 'Fleet Activity' %}{% endblock %}

{% block content %}
    <div class="col-lg-12">
        <br>
        {% include "bfat/menu.html" %}
        <h2>{% trans "All" %} {{ term }}{% trans "Links" %}</h2>
        <table class="table" id="link-list">
            <thead>
                <th>Fleet Name</th>
                <th>Creator</th>
                <th>EVE Time</th>
                <th>Utils</th>
            </thead>
            <tbody>
                {% for link in links %}
                    <tr>
                        <td>{% if link.fleet %}{{ link.fleet }}{% else %}{{ link.hash }}{% endif %}</td>
                        <td>{{ link.creator.profile.main_character.character_name }}</td>
                        <td>{{ link.fattime }}</td>
                        <td>{% if perms.bfat.change_fatlink %}<a class="btn btn-info" href="{% url 'bfat:link_edit' link.hash %}"><span class="glyphicon glyphicon-pencil"></span></a>{% endif %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}
{% block extra_javascript %}
    {% include 'bundles/datatables-js.html' %}
{% endblock %}
{% block extra_css %}
    {% include 'bundles/datatables-css.html' %}
{% endblock %}
{% block extra_script %}
    $(document).ready(function(){
        $('#link-list').DataTable();
    });
{% endblock %}
