{% extends 'allianceauth/base.html' %}
{% load i18n %}
{% block page_title %}{% trans 'Fleet Activity' %}{% endblock %}

{% block content %}
    <div class="col-lg-12">
        <br>
        {% include "bfat/menu.html" %}
        <h2>{% trans "All" %} {{ term }}{% trans "Links" %}</h2>
        {% if links.has_other_pages %}
            <nav>
                <ul class="pagination">
                    {% if links.has_previous %}
                        <li><a href="{% url 'bfat:links' links.previous_page_number %}">&laquo;</a></li>
                    {% else %}
                        <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}
                    {% for i in links.paginator.page_range %}
                        {% if links.number == i %}
                            <li class="active"><span>{{ i }} <span class="sr-only">(Current)</span></span></li>
                        {%  else %}
                            <li><a href="{% url 'bfat:links' i %}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if links.has_next %}
                        <li><a href="{% url 'bfat:links' links.next_page_number %}">&raquo;</a></li>
                    {% else %}
                        <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
        <table class="table">
            <thead>
                <th>Fleet Name</th>
                <th>Creator</th>
                <th>EVE Time</th>
                <th>Utils</th>
            </thead>
            <tbody>
                {% for link in links %}
                    <tr>
                        <td>{% if link.fleet %}{{ link.fleet }}{% else %}{{ link.hash }}{% endif %}</td>
                        <td>{{ link.creator.profile.main_character.character_name }}</td>
                        <td>{{ link.fattime }}</td>
                        <td>{% if perms.bfat.change_fatlink %}<a class="btn btn-info" href="{% url 'bfat:link_edit' link.hash %}"><span class="glyphicon glyphicon-pencil"></span></a>{% endif %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if links.has_other_pages %}
            <nav>
                <ul class="pagination">
                    {% if links.has_previous %}
                        <li><a href="{% url 'bfat:links' links.previous_page_number %}">&laquo;</a></li>
                    {% else %}
                        <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}
                    {% for i in links.paginator.page_range %}
                        {% if links.number == i %}
                            <li class="active"><span>{{ i }} <span class="sr-only">(Current)</span></span></li>
                        {%  else %}
                            <li><a href="{% url 'bfat:links' i %}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if links.has_next %}
                        <li><a href="{% url 'bfat:links' links.next_page_number %}">&raquo;</a></li>
                    {% else %}
                        <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
    </div>


{% endblock %}