{% extends 'allianceauth/base.html' %}
{% load i18n %}
{% load bootstrap %}
{% block page_title %}{% trans 'Fleet Activity' %}{% endblock %}

{% block content %}
        <div class="col-lg-12">
            <br>
            {% include "bfat/menu.html" %}
            {% if msg == 200 %}
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="close">
                        <span aria-hidden="true">&times</span>
                    </button>
                    <h4>Success!</h4>
                    <p>{{ term }}Link Created! {{ term }}s have been processed automatically.

                    Make sure to set the fleet name!</p>
                </div>
            {% elif msg == 403 %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="close">
                        <span aria-hidden="true">&times</span>
                    </button>
                    <h4>Not Fleet Boss!</h4>
                    <p>{{ term }}Link created. Please upload a flatlist using the flatlist tab to generate {{ term }}s for fleet members.

                    Make sure to set the fleet name!</p>
                </div>
            {% elif msg == 404 %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="close">
                        <span aria-hidden="true">&times</span>
                    </button>
                    <h4>Not in Fleet!</h4>
                    <p>{{ term }}Link created. The character used to create this {{ term }}Link is not in a fleet. In order to generate {{ term }}s for fleet members, please upload a flatlist using the flatlist tab.

                    Make sure to set the fleet name!</p>
                </div>
            {% endif %}
            <h2>{% trans "Edit" %} {{ term }}{% trans "Link" %}</h2>
                <div class="col-md-12">
                    <div class="row">
                        <form class="form" role="form" action="" method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Name">
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary" type="submit" name="set_name">Set Name</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="col-md-2">Creator: {{ link.creator.main_character.character_name }}</div>
                        <div class="col-md-2 col-md-offset-9">Time: {{ link.fattime }}</div>
                    </div>
                </div>
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" class="tab" href="#{{ term }}s">{{ term }}s</a></li>
                <li><a data-toggle="tab" class="tab" href="#flatlist">Flat List</a></li>
                <li><a data-toggle="tab" class="tab" href="#manualfat">Manual {{ term }}</a></li>
            </ul>
            <div class="tab-content">
                <div id="{{ term }}s" class="tab-pane fade in active panel-default">
                    <div class="panel-body">
                         <h4>{{ term }}s for this {{ term }}Link</h4>
                         <table class="table">
                             <thead>
                                <th>Character</th>
                                <th>Location</th>
                                <th>Ship Type</th>
                                <th>Utilities</th>
                             </thead>
                             <tbody>
                                {% for fat in fats %}
                                    <tr>
                                        <td>{{ fat.character.character_name }}</td>
                                        <td>{{ fat.system }}</td>
                                        <td>{{ fat.shiptype }}</td>
                                        <td><a class="btn btn-danger" href="#"><span class="glyphicon glyphicon-remove"></span></a> </td>
                                    </tr>
                                {% endfor %}
                             </tbody>
                         </table>
                    </div>
                </div>
                <div id="flatlist" class="tab-pane fade in panel-default">
                    <div class="panel-body">
                        <h4>Flat List Input</h4>
                        <form class="form-signin" role="form" action="" method="POST">
                            {% csrf_token %}
                            <textarea rows="40"></textarea>
                            <br />
                            <button class="btn btn-primary btn-block" type="submit" name="submit_flatlist">Submit Flat List</button>
                        </form>
                    </div>
                </div>
                <div id="manualfat" class="tab-pane fade in panel-default">
                    <div class="panel-body">
                        <h4>Manual {{ term }}</h4>
                        <p> Is someone missing from the list of {{ term }}s? Use this form to add them.
                        <br />
                        <strong>Note:</strong> This action is logged!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}