{% extends 'allianceauth/base.html' %}
{% load i18n %}
{% block page_title %}{% trans 'Fleet Activity' %}{% endblock %}

{% block content %}
    <div class="col-lg-12">
        <br>
        {% include "bfat/menu.html" %}
        <h2>{% trans "Statistics" %}</h2>
        {% if msg %}
            <div class="alert alert-{{ msg.0 }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="close">
                        <span aria-hidden="true">&times</span>
                    </button>
                    {% if msg.0 != 'warning' %}<h4>{% if msg.0 == 'danger' %}Oh No!{% elif msg.0 == 'success' %}Success!{% endif %}</h4>{% endif %}
                    <p>{{ msg.1 }}</p>
                </div>
        {% endif %}
        <ul class="nav nav-tabs">
             <li class="active"><a data-toggle="tab" href="#mine">{% trans "My Stats" %}</a></li>
            <li><a data-toggle="tab" href="#corps">{% trans "Corps" %}</a></li>
        </ul>
        <div class="tab-content">
            <div id="mine" class="tab-pane fade in active panel-default">
                <div class="panel-body">
                    <h4> Months </h4>
                    <p>{{ data }}</p>
                </div>
            </div>
            {% if perms.bfat.stats_corp_own or perms.bfat.stats_corp_other %}
            <div id="corps" class="tab-panel fade active panel-default">
                <div class="panel-body">
                    <h4> Corporations (Select Alliance to See Corps) </h4>
                    {% if perms.bfat.stats_corp_other %}
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            {% for key, value in data.items %}
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingOne">
                                        <h4 class="panel-title">
                                            {% if key == 'No Alliance' %}{% else %}<img src="http://imageserver.eveonline.com/alliance/{{ value.0 }}_32.png" />{% endif %}
                                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#{{ value.0 }}" aria-expanded="false" aria-controls="{% if key == 'No Alliance' %}0000{% else %}{{ value.0 }}{% endif %}">
                                                {{ key }}
                                            </a>
                                            <a class="btn btn-primary btn-sm pull-right" href="{% url 'bfat:stats_ally' value.0 %}" role="button"><span class="glyphicon glyphicon-eye-open" style="color: white"></span> </a>
                                        </h4>
                                    </div>
                                    <div id="{% if key == 'No Alliance' %}0000{% else %}{{ value.0 }}{% endif %}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                        <div class="panel-body">
                                            <table class="table">
                                                <tbody>
                                            {% for corp in value %}
                                                {% if forloop.first %}
                                                {% else %}
                                                        <tr>
                                                            <td><img src="https://imageserver.eveonline.com/corporation/{{ corp.0 }}_32.png" /></td>
                                                            <td>{{ corp.1 }}</td>
                                                            <td><a class="btn btn-primary"><span class="glyphicon glyphicon-eye-open"></span></a></td>
                                                        </tr>
                                                {% endif %}
                                            {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                        {% endfor %}
                    {% elif perms.bfat.stats_corp_own %}
                        <p> This is a test</p>
                    {% endif %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>


{% endblock %}