{% extends 'allianceauth/base.html' %}

{% load i18n %}
{% load static %}

{% block page_title %}{% trans 'Fleet Activity' %}{% endblock %}

{% block content %}
    <div class="col-lg-12">
        <br>
        {% include "imicusfat/menu.html" %}
        <h2>{% trans "All" %} {{ term }}{% trans "Links" %}</h2>

        <table class="table" id="link-list">
            <thead>
                <th>Fleet Name</th>
                <th>Creator</th>
                <th>EVE Time</th>
                <th># of {{ term }}s</th>
                <th>Utils</th>
            </thead>

            <tbody>
                {% for link in links %}
                    <tr>
                        <td>{% if link.fleet %}{{ link.fleet }}{% else %}{{ link.hash }}{% endif %}</td>
                        <td>{{ link.creator.profile.main_character.character_name }}</td>
                        <td>{{ link.ifattime|date:"M. d, Y, H:i" }}</td>
                        <td>{{ link.number_of_fats }}</td>
                        <td>{% if perms.imicusfat.change_ifatlink %}<a class="btn btn-info" href="{% url 'imicusfat:link_edit' link.hash %}"><span class="glyphicon glyphicon-pencil"></span></a>{% endif %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block extra_javascript %}
    {% include 'bundles/datatables-js.html' %}
    <script type="text/javascript" src="{% static 'imicusfat/javascript/moment-js/moment.min.js' %}"></script>
{% endblock %}

{% block extra_css %}
    {% include 'bundles/datatables-css.html' %}
{% endblock %}

{% block extra_script %}
    $.fn.dataTable.moment = function(format, locale) {
        var types = $.fn.dataTable.ext.type;

        // Add type detection
        types.detect.unshift(function(d) {
            return moment(d, format, locale, true).isValid() ?
                'moment-'+format :
                null;
        } );

        // Add sorting method - use an integer for the sorting
        types.order[ 'moment-'+format+'-pre' ] = function(d) {
            return moment(d, format, locale, true).unix();
        };
    };

    $(document).ready(function(){
        $.fn.dataTable.moment('MMM. D, YYYY, HH:mm');

        $('#link-list').DataTable( {
            "order": [[ 2, "desc" ]]
        } );
    });
{% endblock %}
